#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background: linear-gradient(rgb(42, 39, 58), rgba(0, 0, 0, 0.68), rgba(0, 0, 0, 0.68), rgba(0, 0, 0, 0.68));
}